html, body {
    height: 100vh;
    background-image: url("/master/assets/daHall.jpg");

}

p {
    color: antiquewhite;
}

div {
    color: antiquewhite;
}


.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header"
      "midL mid midR"
      "footer footer footer";
  }
  
  .header { grid-area: header; }
  
  .footer { grid-area: footer; }
  
  .mid { grid-area: mid; }
  
  .midL { grid-area: midL; }
  
  .midR { grid-area: midR; }
  